html {
	font-size: 10px;
}

body {
	font-family: $font-primary;
	color: $color-primary;
}

.wrapper {
	max-width: $desktop-width;
	margin: 0 auto;
}

.btn {
	border-radius: 1rem;
	background: $color-primary;
	text-transform: capitalize;
}


.login {
	&_btn {
		@include font ($size: 1.6rem, $weight: 400, $height: 2.1rem);
		color: $color-light;
		font-family: $font-additional;		
		padding: 1rem 3rem;
		box-shadow: $login-btn-shadow;
	}
}

