html {
	font-size: 10px;
}

body {
	font-family: $font-primary;
	color: $color-primary;
}

.wrapper {
	max-width: $desktop-width;
	margin: 0 auto;
	padding: 2.5rem 12rem;
}

.btn {
	border-radius: 1rem;
	background: $color-primary;
	text-transform: capitalize;
	border: 2px solid red;
}


.login {
	&_btn {
		@include font ($size: 1.6rem, $weight: 400, $height: 2.1rem);
		color: $color-light;
		font-family: $font-additional;		
		padding: 0.8rem 3rem;
		box-shadow: $login-btn-shadow;
	}
}

.planning {
	&_btn {

	}
}

h1 {
	@include font ($size: 8rem, $weight: 700, $height: 9.6rem);
	color: $color-light;
}
