.destinations {	
    display: flex;
    flex-direction: column;
	row-gap: 40px;
	align-items: center;

	@media screen and (max-width: $mobile-width) {
		row-gap: 20px;
	}

	&__title {
	}

	&__slider {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 2.5rem;
		position: relative;

		overflow-x: hidden;
		max-width: calc(100vw - 20px);

		@media screen and (max-width: $mobile-width) {
			row-gap: 0;
		}
	}
}
.slider {
	justify-content: flex-start;
    // overflow-x: hidden;
	// max-width: calc(100vw - 20px);


	@media screen and (max-width: $mobile-width) {
		max-width: 360px;
	}

	&_title {
		position: absolute;
		bottom: 4rem;
		left: 1.5rem;

		@media screen and (max-width: $mobile-width) {
			top: 1rem;
			left: 1.5rem;
		}
	}

	&__cards {
		display: flex;
		flex-direction: row;
		column-gap: 20px;
		justify-content: center;

		@media screen and (max-width: $mobile-width) {
			justify-content: flex-start;
			column-gap: 0;
		}
	}

	&__pagination {
		display: flex;
		column-gap: 10px;

		@media screen and (max-width: $mobile-width) {
			column-gap: 6px;
			position: absolute;
			bottom: 5%;
		}
	}

	&__arrows {
		display: none;
		position: absolute;
		width: 95%;
		bottom: 45%;
		justify-content: space-between;

		@media screen and (max-width: $mobile-width) {
			display: flex;
		}
	}
}
.card {
	position: relative;

	& > img {
		border-radius: 16px;
	}

	& > img:nth-child(1) {
		@media screen and (max-width: $mobile-width) {
			display: none;
		}
	}

	& > img:nth-child(2) {
		display: none;

		@media screen and (max-width: $mobile-width) {
			display: block;
		}
	}
}
