.explore {
	background: url(../../assets/img/bg-primary.jpg) no-repeat center top / cover;
	min-height: 76.5rem;
	padding: 12rem 0 0 0;

	&_title {
	}

	&_description {
	}

	&__content {
		max-width: 70%;
	}
}
.planning {

	&_title {
	}

	&_btn {
	}
}
