.explore {
	background: url(../../assets/img/bg-primary.jpg) no-repeat center top / cover;
	min-height: 76.5rem;
	// display: flex;
	// align-items: flex-start;

	// @media screen and (max-width: $tablet-width) {
	// 	align-items: center;
	// }

	@media screen and (max-width: $mobile-width) {
		min-height: 25rem;
		
	}

	&__wrapper {
		@media screen and (max-width: $desktop-width) {
			padding: 0 15px;
		}
	}

	&__content {
		padding: 4rem 0 0 0;
		display: flex;
		flex-direction: column;
		row-gap: 4rem;
		max-width: 890px;
	}	

	&_title {
		@media screen and (max-width: $tablet-width) {
			display: none;
		}
	}

	&_description {
		@include font ($size: 2rem, $weight: 700, $height: 2.4rem, $style: italic);
		color: $color-light;

		@media screen and (max-width: $tablet-width) {
			display: none;
		}
	}


}
.planning {
	display: flex;
	justify-content: space-between;
    padding: 1.8rem 1.8rem 1.8rem 4rem;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 16px;
	align-items: center;

	@media screen and (max-width: $mobile-width) {
		padding: 0.9rem 0.9rem 0.9rem 1.6rem;
		position: relative;
		top: 80px;
	}

	&_title {
		@include font ($size: 2.4rem, $height: 2.9rem, $style: italic);
		color: $color-additional;

		@media screen and (max-width: $tablet-width) {
			@include font ($size: 1.6rem, $height: 1.6rem, $style: italic);
		}

		@media screen and (max-width: $mobile-width) {
			@include font ($size: 1.4rem, $height: 1.6rem, $style: italic);
		}
	}
}
