.footer {
	@include font ($size: 1.6rem, $weight: 400, $height: 2.1rem);
	color: $color-light;
	position: absolute;
    bottom: 0;
    z-index: 1;

	@media screen and (max-width: $mobile-width) {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__content {
		display: grid;
		grid-template-columns: 1.5fr 1fr;

		
	@media screen and (max-width: $mobile-width) {
		grid-template-columns: 1fr;
	}

		// padding: 1.5rem 0;
		// display: flex;
		// align-items: center;
		// justify-content: flex-end;
	}

	&__copyright {
		justify-self: end;

		@media screen and (max-width: $mobile-width) {
			display: none;
		}
	}

	&__links {
		display: flex;
		column-gap: 2rem;
		justify-self: end;
		&:hover {
			cursor: url(/assets/svg/cursor-orange.svg), auto;
		}		
	}
}
.links {

	&:hover {
		filter: $svg-filter-additional;
		
	}

	&_image {
	}
}

.link {
	&:hover {
		cursor: url(/assets/svg/cursor-orange.svg), auto;
	}
}
.github {
}
.insta {
}
.youtube {
}
.twitter {
}
