.header {
	background: $header-background;
    box-shadow: 0px 4px 4px rgb(13 96 111 / 50%);
    position: absolute;
    width: 100%;
    top: 0;

	@media screen and (max-width: $tablet-width) {
		background: $header-background-tablet;
		box-shadow: none;
	}


	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		height: 9rem;
		
		@media screen and (max-width: $desktop-width) {
			padding: 0 1.5rem;
		}
	}

	&__logo {

		&:hover {
			cursor: url(/assets/svg/cursor-orange.svg), auto;
			filter: $svg-filter-dark;			
		}
	}

	&__navigation {
		@include font ($size: 1.6rem, $weight: 400, $height: 2.1rem);
		color: $color-light;
		font-family: $font-additional;
		text-transform: capitalize;

		@media screen and (max-width: $tablet-width) {
			display: none;			
		}

		&.open {
			display: block;		
		}
	}
}



.logo {

	&_link {
		display: flex;
		align-items: center;
		gap: 0.6rem;

		&:hover {
			cursor: url(/assets/svg/cursor-white.svg), auto;
		}
	}

	&_description {
		font-family: $font-logo;
		@include font ($size: 3.2rem, $weight: 700, $height: 3.9rem);
		color: $color-light;
	}
}

.navigation {
	display: flex;
	gap: 4rem;

	@media screen and (max-width: $tablet-width) {
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 0;
		background-color: $color-additional;
		min-width: 165px;
		min-height: 250px;
		gap: 1rem;
		align-items: flex-end;
		justify-content: center;
		padding-right: 15px;
		z-index: 2;
		border-radius: 1rem 0 0 1rem;
	}

	&__menu {

		&_link {
			&:hover {
				cursor: url(/assets/svg/cursor-white.svg), auto;
				color: $color-primary;
			}
		}

		&_mobile {
			display: none;
			@media screen and (max-width: $tablet-width) {
				display: block;			
			}
		} 
	}
}




